<ion-header>
  <ion-navbar>
    <ion-title>
      Mis Tarjetas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getMyCards($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Jala para actualizar" refreshingSpinner="circles" refreshingText="Actualizando..."></ion-refresher-content>
  </ion-refresher>
  <div class="iniciar-sesion" *ngIf="showLogin">
    <br>
    <h1 text-center>Inicia sesión para ver tus tarjetas</h1>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full clear (click)="display('login')">Iniciar Sesión</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full clear (click)="display('signup')">Registrarse</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!showLogin">
    <ion-card *ngFor="let card of cards">
      <img [src]="card.image" />
      <div class="uses">
        <div class="circle" *ngFor="let i of arr(this.card.uses).fill(1); let n = index" [ngClass]="{'sellada': n < this.card.pivot.uses}">
        </div>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{card.business.name}} - {{card.business.businesses_type}}
        </ion-card-title>
        <p>
          {{card.description}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>