<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="iniciar-sesion" *ngIf="showLogin">
    <br>
    <h1 text-center>Inicia sesión para ver tus tarjetas</h1>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full clear (click)="display('login')">Iniciar Sesión</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full clear (click)="display('signup')">Registrarse</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!showLogin">
    <div class="master-profile">
      <div class="profile" style="background-image: url('https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/18193855_10154621430772817_4694130510271110008_n.jpg?oh=eabc805c5f92ed8b1ce4dafa74bc7434&amp;oe=59BA468D'); background-size: cover; filter: blur(5px)">
      </div>
      <div class="hello">
        <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/18193855_10154621430772817_4694130510271110008_n.jpg?oh=eabc805c5f92ed8b1ce4dafa74bc7434&amp;oe=59BA468D"
          class="img-circle">
        <p text-center class="name">{{user.name}}</p>
      </div>
    </div>
    <br><br>
    <button ion-button full clear (click)="logout()">Cerrar Sesión</button>
  </div>
</ion-content>