page-home {
        .ion-card-custom {
                display: inline !important;
                margin: 0px 0px 0px 0px !important;
        }
        .list-custom {
                margin: -1px 0 0px 0 !important;
        }
}
